version: "3.8"
services:
  fradmin:
    build:
      context:  ./fradmin
      dockerfile: Dockerfile.prod
    container_name: food-service-fradmin
    command: serve -s build -l 3000
    ports:
    - 3000:3000
    restart: unless-stopped
    networks:
      - food-service-network
    depends_on:
      - api
  api:
    build: ./api
    container_name: food-service-api
    command: npm run start
    restart: unless-stopped
    environment:
#      - HOST=http://realworld-docker.com
      - PORT=3001
      - MONGO_URL=mongodb://api_db:27017/api
    networks:
      - food-service-network
    depends_on:
      - api_db
  api_db:
    image: mongo:latest
    container_name: food-service-api-db
    volumes:
      - mongodb_api:/data/db
    networks:
      - food-service-network
  nginx:
    image: nginx:stable-alpine
    container_name: food-service-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf.prod:/etc/nginx/conf.d/nginx.conf
    depends_on:
      - api
      - fradmin
    networks:
      - food-service-network
volumes:
  mongodb_api:
networks:
  food-service-network:
    driver: bridge
