services:
  fradmin:
    build:
      context:  ./fradmin
      dockerfile: Dockerfile.dev
    container_name: food-service-fradmin_
    command: npm run dev
    ports:
      - 3000:3000
    environment:
      - NEXT_PUBLIC_API_URL=http://api:3001
    restart: unless-stopped
    networks:
      - food-service-network
    depends_on:
      - api
  api:
    build: ./api
    container_name: food-service-api_
    command: npm run start
    restart: unless-stopped
    environment:
      - PORT=3001
      - MONGO_URI=mongodb://mongo:27017/upack
    networks:
      - food-service-network
    depends_on:
      - mongo
  mongo:
    image: mongo:5.0
    container_name: mongo_
    ports:
      - "27018:27017"
    volumes:
      - mongodb_api:/data/db
    networks:
      - food-service-network
  nginx:
    image: nginx:stable-alpine
    container_name: food-service-nginx_
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf.prod:/etc/nginx/conf.d/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - api
      - fradmin
    networks:
      - food-service-network
volumes:
  mongodb_api:
networks:
  food-service-network:
    driver: bridge
