<!-- src/mail/templates/welcome.hbs -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Добро пожаловать!</title>
</head>
<body>
<h1>Привет, {{name}}!</h1>
<p>Спасибо за регистрацию в нашем сервисе.</p>
<p>Ваш код подтверждения: <strong>{{code}}</strong></p>
</body>
</html>
